.check-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #454444;
  width: 1920px;
  height: 1080px;
}
.check-item {
  position: absolute;
  top: 142px;
  left: 124px;
  border-radius: var(--br-xl);
  background-color: var(--color-darkgray);
  width: 1671px;
  height: 795px;
}
.get-started2 {
  position: absolute;
  top: 172px;
  left: 728px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 464px;
  height: 73px;
}
.check-inner {
  position: absolute;
  top: 312px;
  left: 279px;
  border-radius: var(--br-xl);
  width: 749px;
  height: 516px;
  object-fit: cover;
}
.check-child1 {
  position: absolute;
  top: 335px;
  left: 1243px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-400);
  width: 26px;
  height: 24px;
}
.check-child2,
.check-child3 {
  position: absolute;
  top: 348px;
  left: 1248px;
  width: 4px;
  height: 5px;
  object-fit: contain;
}
.check-child3 {
  top: 342px;
  left: 1252px;
  width: 12px;
  height: 11px;
}
.check-child4 {
  position: absolute;
  top: 335px;
  left: 1243px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-400);
  width: 26px;
  height: 24px;
}
.check-child5,
.check-child6 {
  position: absolute;
  top: 348px;
  left: 1248px;
  width: 4px;
  height: 5px;
  object-fit: contain;
}
.check-child6 {
  top: 342px;
  left: 1252px;
  width: 12px;
  height: 11px;
}
.check-child7 {
  position: absolute;
  top: 399px;
  left: 1243px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet-400);
  width: 26px;
  height: 24px;
}
.check-child8,
.check-child9 {
  position: absolute;
  top: 412px;
  left: 1248px;
  width: 4px;
  height: 5px;
  object-fit: contain;
}
.check-child9 {
  top: 406px;
  left: 1252px;
  width: 12px;
  height: 11px;
}
.audio-check,
.video-check {
  position: absolute;
  top: 327px;
  left: 1290px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 39px;
}
.audio-check {
  top: 391px;
}
.check-child10 {
  position: absolute;
  top: 670px;
  left: 1119px;
  border-radius: var(--br-mini);
  background-color: var(--color-blueviolet-400);
  width: 607px;
  height: 97px;
}
.join {
  position: absolute;
  top: 701px;
  left: 1232px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 373px;
  height: 41px;
}
.check-child11,
.check-child12 {
  position: absolute;
  top: 852px;
  height: 48px;
  object-fit: cover;
}
.check-child11 {
  left: 552px;
  border-radius: 50%;
  width: 50px;
}
.check-child12 {
  left: 684px;
  width: 48px;
}
.check {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-outfit);
}
