.ellipse-div,
.header-child,
.header-child1,
.header-child2,
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7,
.header-inner,
.header-item {
  position: absolute;
  top: 423px;
  left: 1885px;
  border-radius: 50%;
  background: linear-gradient(179.82deg, #d9d9d9, #a2a5a9);
  width: 445px;
  height: 423px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.ellipse-div,
.header-child1,
.header-child2,
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7,
.header-inner,
.header-item {
  top: 497px;
  left: 699px;
}
.ellipse-div,
.header-child1,
.header-child2,
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7,
.header-inner {
  top: 387px;
  left: 1005px;
  width: 123px;
  height: 102px;
}
.ellipse-div,
.header-child1,
.header-child2,
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7 {
  top: 525px;
  left: 683px;
}
.header-child1,
.header-child2,
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7 {
  top: 474px;
  left: 1990px;
  height: 134px;
}
.header-child2,
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7 {
  top: 93px;
  left: 882px;
  width: 103px;
  height: 93px;
}
.header-child3,
.header-child4,
.header-child5,
.header-child6,
.header-child7 {
  left: 2032px;
}
.header-child4,
.header-child5,
.header-child6,
.header-child7 {
  top: 138px;
  left: 199px;
  width: 63px;
  height: 57px;
}
.header-child5,
.header-child6,
.header-child7 {
  top: 396px;
  left: 123px;
  width: 123px;
  height: 119px;
}
.header-child6,
.header-child7 {
  top: 557px;
  left: 1514px;
  width: 252px;
  height: 233px;
}
.header-child7 {
  top: 285px;
  left: 1273px;
}
.prepare-succeed {
  position: absolute;
  top: 109px;
  left: calc(50% - 599px);
  display: inline-block;
  width: 1198px;
}
.a-website-to,
.expert-feedback-and {
  margin: 0;
}
.a-website-to-container {
  position: absolute;
  top: 324px;
  left: calc(50% - 462px);
  font-size: var(--font-size-9xl);
  font-weight: 200;
  color: var(--color-gray-100);
  text-align: center;
}
.header {
  position: absolute;
  top: 188px;
  left: -61px;
  width: 2032px;
  height: 557px;
  font-size: 140px;
  color: var(--color-gray-300);
}
.navbar-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1920px;
  height: 85px;
}
.ai-interviews {
  position: absolute;
  top: 28px;
  left: 122px;
  font-size: var(--font-size-9xl);
  font-family: var(--font-iceland);
}
.login {
  position: absolute;
  top: 29px;
  left: 1347px;
}
.navbar-item,
.products,
.solutions {
  position: absolute;
  top: 29px;
  left: 1458px;
}
.navbar-item,
.solutions {
  left: 1608px;
}
.navbar-item {
  top: 24px;
  left: 67px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 35px;
  height: 35px;
}
.navbar-inner {
  position: absolute;
  top: 26px;
  left: 1741px;
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumaquamarine);
  width: 106px;
  height: 40px;
}
.demo,
.line-icon {
  position: absolute;
  top: 29px;
  left: 1760px;
}
.line-icon {
  top: 79.8px;
  left: 3px;
  width: 1919.5px;
  height: 8.4px;
  object-fit: contain;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 1922.5px;
  height: 88.2px;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
}
.get-started-child {
  position: absolute;
  top: 0;
  left: calc(50% - 134.5px);
  border-radius: 40px;
  background-color: var(--color-gainsboro-100);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 269px;
  height: 79px;
}
.get-started1 {
  position: absolute;
  top: 21px;
  left: 53px;
  font-weight: 300;
}
.get-started {
  position: absolute;
  top: 685px;
  left: calc(50% - 135px);
  width: 269px;
  height: 79px;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-300);
}
.footer-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1920px;
  height: 627px;
}
.contact-us {
  position: absolute;
  top: 289px;
  left: 864px;
  font-weight: 600;
}
.practice-like-youve {
  position: absolute;
  top: 81px;
  left: calc(50% - 788px);
  font-size: 55px;
}
.footer-item {
  position: absolute;
  top: 524px;
  left: 0;
  background-color: var(--color-gray-200);
  width: 1920px;
  height: 103px;
}
.copyright-all-rights {
  position: absolute;
  top: 560px;
  left: calc(50% - 178px);
  font-size: var(--font-size-6xl);
  font-weight: 200;
}
.footer-inner {
  position: absolute;
  top: 218px;
  left: calc(50% - 772px);
  width: 1543px;
  height: 5.9px;
  object-fit: contain;
}
.footer-child1,
.footer-child2,
.footer-child3,
.footer-child4 {
  position: absolute;
  top: 402px;
  left: 782px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-100);
  width: 60px;
  height: 60px;
}
.footer-child2,
.footer-child3,
.footer-child4 {
  left: 885px;
}
.footer-child3,
.footer-child4 {
  left: 988px;
}
.footer-child4 {
  left: 1091px;
}
.footer {
  position: absolute;
  top: 3944px;
  left: 0;
  width: 1920px;
  height: 627px;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
}
.exclusive-features {
  position: absolute;
  top: 911px;
  left: calc(50% - 291px);
  font-weight: 600;
}
.features-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: #747474;
}
.features-child1,
.features-inner,
.features-item,
.rectangle-div {
  position: absolute;
  height: 46.68%;
  width: 48.71%;
  top: 2.51%;
  right: 50.32%;
  bottom: 50.81%;
  left: 0.97%;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.features-child1,
.features-inner,
.rectangle-div {
  height: 45.96%;
  top: 50.81%;
  bottom: 3.23%;
}
.features-child1,
.rectangle-div {
  height: 46.68%;
  top: 2.51%;
  right: 0.97%;
  bottom: 50.81%;
  left: 50.32%;
}
.features-child1 {
  top: 50.45%;
  bottom: 2.87%;
}
.practice {
  margin: 0;
  white-space: pre-wrap;
}
.questions {
  margin: 0;
}
.expert-feedback,
.mock-interviews,
.practice-questions {
  position: absolute;
  height: 27.29%;
  width: 19.19%;
  top: 14.36%;
  left: 6.53%;
  font-weight: 600;
  display: inline-block;
}
.expert-feedback,
.mock-interviews {
  height: 21.83%;
  width: 26.72%;
  top: 62.84%;
  white-space: pre-wrap;
}
.expert-feedback {
  height: 21.9%;
  width: 20.16%;
  top: 14.36%;
  left: 55.73%;
}
.performance {
  margin: 0;
}
.analytics {
  margin: 0;
  white-space: pre-wrap;
}
.performance-analytics {
  position: absolute;
  height: 21.9%;
  width: 25.16%;
  top: 62.84%;
  left: 53.95%;
  font-weight: 600;
  display: inline-block;
}
.feedback-1-icon,
.mock-1-icon,
.performance-1-icon,
.screenshot-2024-06-14-154026-1 {
  position: absolute;
  height: 36.07%;
  width: 17.16%;
  top: 7.32%;
  right: 53.26%;
  bottom: 56.61%;
  left: 29.58%;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.feedback-1-icon,
.mock-1-icon,
.performance-1-icon {
  height: 35.91%;
  width: 16.52%;
  top: 7.36%;
  right: 4.36%;
  bottom: 56.73%;
  left: 79.11%;
}
.mock-1-icon,
.performance-1-icon {
  width: 17.1%;
  top: 55.83%;
  right: 3.79%;
  bottom: 8.26%;
}
.mock-1-icon {
  right: 53.31%;
  left: 29.6%;
}
.features {
  position: absolute;
  top: 1064px;
  left: calc(50% - 620px);
  width: 1240px;
  height: 557px;
  font-size: var(--font-size-29xl);
}
.live-interviews {
  position: absolute;
  top: 1776px;
  left: 1156px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 518px;
}
.home-page-child,
.home-page-inner,
.home-page-item {
  position: absolute;
  top: 1873px;
  left: 1168px;
  width: 468px;
  height: 2px;
  object-fit: contain;
}
.home-page-inner,
.home-page-item {
  top: 3000px;
  left: 715px;
  width: 489px;
}
.home-page-inner {
  top: 1007px;
  left: 669px;
  width: 582px;
  height: 2.1px;
}
.interview-1-icon {
  position: absolute;
  top: 1940px;
  left: 1177px;
  border-radius: var(--br-11xl);
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.our-website-offers {
  position: absolute;
  top: 1902px;
  left: 176px;
  font-size: var(--font-size-21xl);
  line-height: 60px;
  font-weight: 200;
  text-align: justify;
  display: flex;
  align-items: center;
  width: 905px;
  height: 526px;
}
.why-choose-us {
  position: absolute;
  top: 2885px;
  left: 715px;
  font-weight: 600;
}
.home-page-child1,
.home-page-child2,
.home-page-child3,
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  position: absolute;
  top: 3079px;
  left: 315px;
  border-radius: var(--br-11xl);
  background-color: var(--color-whitesmoke-100);
  width: 363px;
  height: 339px;
}
.home-page-child2,
.home-page-child3,
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  top: 3499px;
}
.home-page-child3,
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  top: 3079px;
  left: 778px;
}
.home-page-child4,
.home-page-child5,
.home-page-child6 {
  top: 3499px;
}
.home-page-child5,
.home-page-child6 {
  top: 3079px;
  left: 1241px;
}
.home-page-child6 {
  top: 3499px;
}
.component-2-icon {
  position: absolute;
  top: 2523px;
  left: 0;
  width: 1920px;
  height: 267px;
  overflow: hidden;
}
.home-page {
  width: 100%;
  position: relative;
  background-color: var(--color-gainsboro-100);
  height: 4571px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--black);
  font-family: var(--font-outfit);
}
