.resume-child,
.resume-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1920px;
  height: 1080px;
}
.resume-item {
  top: 196px;
  left: 157px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 1589px;
  height: 744px;
}
.select-a-file,
.upload-your-resume {
  position: absolute;
  top: 291px;
  left: 279px;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  display: inline-block;
  width: 509px;
  height: 47px;
}
.select-a-file {
  top: 384px;
  font-size: var(--font-size-6xl);
  font-weight: 500;
  height: 46px;
}
.resume-child1,
.resume-inner {
  position: absolute;
  top: 474px;
  left: 279px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 616px;
  height: 191px;
}
.resume-child1 {
  top: 476px;
  left: 1009px;
  background-color: var(--color-white);
  border: 1px solid var(--black);
  box-sizing: border-box;
}
.or {
  position: absolute;
  top: 558px;
  left: 935px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 28px;
}
.line-div,
.resume-child2 {
  position: absolute;
  top: 481.5px;
  left: 951.5px;
  border-right: 1px solid var(--black);
  box-sizing: border-box;
  width: 1px;
  height: 67px;
  opacity: 0.5;
}
.resume-child2 {
  top: 595.5px;
  height: 70px;
}
.upload {
  position: absolute;
  top: 542px;
  left: 491px;
  font-size: var(--font-size-6xl);
  color: var(--color-blueviolet-400);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 181px;
  height: 44px;
}
.resume-child3 {
  position: absolute;
  top: 581.5px;
  left: 532.5px;
  border-top: 1px solid var(--color-blueviolet-400);
  box-sizing: border-box;
  width: 98px;
  height: 1px;
}
.drag-and-drop {
  top: 384px;
  left: 1009px;
  font-size: var(--font-size-6xl);
  width: 286px;
  height: 46px;
}
.drag-and-drop,
.make-your-resume,
.we-accept-doc {
  position: absolute;
  display: inline-block;
}
.we-accept-doc {
  top: 713px;
  left: 278px;
  width: 492px;
  height: 29px;
  opacity: 0.5;
}
.make-your-resume {
  top: 774px;
  left: 321px;
  width: 385px;
  height: 25px;
}
.resume-child4 {
  position: absolute;
  top: 801px;
  left: 1413px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 212px;
  height: 67px;
  opacity: 0.7;
}
.update-my-resume {
  position: absolute;
  top: 823px;
  left: 1430px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 24px;
  opacity: 0.6;
}
.resume {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--black);
  font-family: var(--font-outfit);
}
